<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CRUD Usuarios</title>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Gestión de Usuarios</h1>

    <table id="usuariosTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h2>Agregar Usuario</h2>
    <form id="addUserForm">
        <input type="number" id="id" placeholder="ID" required>
        <input type="text" id="nombre" placeholder="Nombre" required>
        <input type="number" id="edad" placeholder="Edad" required>
        <button type="submit">Agregar</button>
    </form>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

<!-- COMPROBAR LA TABLA FICTICIA
 MENSAJE: JSON
 
http://127.0.0.1:5000/v1/usuarios/ -->

